@page "/authentication/login"
@using Microsoft.AspNetCore.Components.Authorization
@using PropaneDriver.Client.Authentication
@using PropaneDriver.Shared.Dtos
@inject IJSRuntime JS
@inject NavigationManager NavigationManager
@inject CustomAuthStateProvider AuthStateProvider

<PageTitle>Login</PageTitle>

<AuthorizeView Context="authContext">
    <Authorized>
        <h3>You are logged in</h3>
        <div class="container border" style="padding: 20px">
            <p>Welcome, @authContext.User.Identity?.Name!</p>
            <button type="button" class="btn btn-danger" @onclick="Logout">Logout</button>
        </div>
    </Authorized>
    <NotAuthorized>
        <h3>Login</h3>
        <div class="container border" style="padding: 20px">
            <EditForm class="form-signin mb-4" Model="@_creds" OnSubmit="@Authenticate">
                <div class="form-group">
                    <label for="user-name">User Name</label>
                    <InputText class="form-control" id="user-name" style="width: 50%; border: inset;" @bind-Value=@_creds!.UserName />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <InputText type="password" class="form-control" id="password" style="width: 50%; border: inset;" @bind-Value=@_creds!.Password />
                </div>
                <br />
                <div class="form-group">
                    <button type="submit" id="login" name="login" class="btn btn-primary">Login</button>
                </div>
            </EditForm>
            <hr />
            <p>Don't have an account?</p>
            <button type="button" class="btn btn-secondary" @onclick="Register">Register</button>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    private CredsDto? _creds;

    protected override async Task OnInitializedAsync()
    {
        _creds = new();
    }

    private async Task Authenticate()
    {
        var loginStatus = await AuthStateProvider!.LoginAsync(_creds!);

        if (loginStatus.Successful)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            await JS.InvokeVoidAsync("alert", loginStatus.ErrorMessage);
        }
    }

    private void Register()
    {
        NavigationManager.NavigateTo("/register");
    }

    private async Task Logout()
    {
        await AuthStateProvider.LogoutAsync();
        NavigationManager.NavigateTo("/authentication/login", forceLoad: true);
    }
}
