@page "/register"
@using PropaneDriver.Authentication;
@using PropaneDriver.Dtos;
@inject IJSRuntime JS;
@inject NavigationManager NavigationManager;
@inject CustomAuthStateProvider AuthStateProvider;

<PageTitle>Register</PageTitle>
<h3>Register</h3>

<EditForm class="form-signin mb-4" Model="@_user" OnSubmit="@AddClient">
    <div class="form-group">
        <label for="user-name">User Name</label>
        <InputText class="form-control" id="user-name" style="width: 50%; border: inset;" @bind-Value=@_user!.UserName />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <InputText type="password" class="form-control" id="password" style="width: 50%; border: inset;" @bind-Value=@_password />
    </div>
    <div class="form-group">
        <label for="first-name">First Name</label>
        <InputText class="form-control" id="user-name" style="width: 50%; border: inset;" @bind-Value=@_user!.FirstName />
    </div>
    <div class="form-group">
        <label for="middle-name">Middle Name</label>
        <InputText class="form-control" id="user-name" style="width: 50%; border: inset;" @bind-Value=@_user!.MiddleName />
    </div>
    <div class="form-group">
        <label for="last-name">Last Name</label>
        <InputText class="form-control" id="user-name" style="width: 50%; border: inset;" @bind-Value=@_user!.LastName />
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <InputText class="form-control" id="user-name" style="width: 50%; border: inset;" @bind-Value=@_user!.Email />
    </div>
    <div class="form-group">
        <label for="phone">Phone</label>
        <InputText class="form-control" id="user-name" style="width: 50%; border: inset;" @bind-Value=@_user!.PhoneNumber />
    </div>
    <br />
    <div class="form-group">
        <button type="submit" id="register" name="register" class="btn btn-primary">Register</button>
    </div>
</EditForm>

@code {
    private ProviderDto? _user;
    private string? _password;

    protected override async Task OnInitializedAsync()
    {
        _user = new();
    }

    protected async Task AddClient()
    {
        if (string.IsNullOrWhiteSpace(_password))
        {
            await JS.InvokeVoidAsync("alert", "A password must be entered!");
        }
        else
        {
            var creds = new CredsDto
            {
                UserName = _user!.UserName,
                Password = _password
            };

            await AuthStateProvider!.RegisterNewClient(_user, creds);
            await JS.InvokeVoidAsync("alert", "Registration was successful!");

            NavigationManager.NavigateTo("/authentication/login");
        } 
    }
}
