@using System.Security.Claims;
@using PropaneDriver.Client.Authentication;
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation;
@inject CustomAuthStateProvider AuthStateProvider;

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Propane Driver</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="bi bi-binoculars-nav-menu" aria-hidden="true"></span> About
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <AuthorizeView Roles="driver">
                <Authorized>
                    <NavLink class="nav-link" href="deliveries">
                        <span class="bi bi-people-nav-menu" aria-hidden="true"></span> Deliveries
                    </NavLink>
                </Authorized>
            </AuthorizeView>
        </div>
        <div class="nav-item px-3">
            <AuthorizeView Roles="driver">
                <Authorized>
                    <NavLink class="nav-link" href="dispatch">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Dispatch
                    </NavLink>
                </Authorized>
            </AuthorizeView>
        </div>
        <div class="nav-item px-3">
            <AuthorizeView Roles="admin">
                <Authorized>
                    <NavLink class="nav-link" href="admin">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Admin
                    </NavLink>
                </Authorized>
            </AuthorizeView>
        </div>
        <div class="nav-item px-3">
            <AuthorizeView>
                <Authorized>
                    <label class="text-white">
                        Hello @context.User.FindFirst(ClaimTypes.Name)!.Value
                    </label>
                    <br/>
                    <button type="button" class="btn btn-danger" @onclick="LogoutAsync">Logout</button>
                </Authorized>
                <NotAuthorized>
                    <button type="button" class="btn btn-primary" @onclick="Login">Login</button>
                </NotAuthorized>
                <Authorizing>
                    <span class="text-white">Checking Auth State...</span>
                </Authorizing>
            </AuthorizeView>
        </div>
    </nav>
</div>

@code {
    private void Login()
    {
        Navigation.NavigateTo("authentication/login");
    }

    private async Task LogoutAsync()
    {
        await AuthStateProvider.LogoutAsync();
    }
}
